# ===================================================================
# Spring Boot configuration.
#
# This configuration is overridden by profile-specific settings
# (e.g., application-dev.yml for the "dev" profile).
# Full reference is available at:
# https://docs.spring.io/spring-boot/appendix/application-properties/index.html
# ===================================================================
server:
  # It can be overridden by `--server.port` value passed in the commandline or `-Dserver.port` set in `JAVA_OPTS`
  port: 3210
  servlet:
    session:
      cookie:
        name: ${spring.application.name}
management: # Management http server configuration, used by ManagementServerProperties
  endpoints:
    web:
      base-path: /management
      exposure:
        include:
          - configprops
          - info
          - health
          - metrics
          - prometheus
  endpoint:
    health:
      show-details: always
      access: unrestricted
    metrics:
      access: unrestricted
    prometheus:
      access: unrestricted
spring:
  application:
    name: luix-uid-generator-demo
  profiles:
    # The commented value for `active` can be replaced with valid spring profiles to load.
    # Otherwise, it will be filled in by maven when building the WAR file
    # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
    active: test
  web:
    locale: zh_CN # default locale
  banner:
    location: classpath:config/banner-company.txt
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  threads:
    virtual:
      enabled: true
logging:
  level:
    root: INFO
    'org.springframework.boot.devtools.autoconfigure': INFO
    'org.jooq.tools.LoggerListener': DEBUG
    'org.apache': WARN
    'org.mongodb.driver': WARN
    'sun.rmi': WARN
    'jdk.event.security': WARN
springdoc: # https://springdoc.org/#migrating-from-springfox
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  show-actuator: true
# ===================================================================
# Luix properties
# ===================================================================
luix:
  uid: # UID configuration, used by UidProperties
    worker:
      appId: ${spring.application.name}
  api-docs:
    api-include-pattern: /api/**
    open-api-include-pattern: /open-api/**
    management-include-pattern: /management/**
    title: LUI️✘ UID Generator Demo
    version: ${app.version}
    terms-of-service-url:
    contact-name: Louis
    contact-url:
    contact-email: louis@luixtech.cn
    license: Unlicensed
    license-url:
  aop-logging:
    enabled: true
  elapsed-time-logging:
    enabled: true
  ribbon:
    # comma separated list of profiles to show a ribbon on the GUI
    display-on-active-profiles: test
