# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    platform: linux/arm64
    # platform: linux/x86_64 # Intel platform
    environment:
      - POSTGRES_DB=luix_uid_generator_demo
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
      - POSTGRES_HOST_AUTH_METHOD=trust
    # If you want to expose these ports outside your dev PC,
    # remove the "127.0.0.1:" prefix
    ports:
      - 127.0.0.1:5432:5432
    command: ["postgres"]
